package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.*;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import com.xnewtech.medical.yw.modular.common.entity.BaseEntity;
import lombok.Data;

import java.io.Serializable;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
@ApiModel(value="${tableName}对象")
public class ${className} extends BaseEntity {
    private static final long serialVersionUID=1L;

#foreach ($column in $columns)
#if($column.attrname != "createTime" && $column.attrname != "updateTime" && $column.attrname != "updateUser" && $column.attrname != "updateName" && $column.attrname != "createName" && $column.attrname != "createUser" && $column.attrname != "delFlag")
    /**
     * ${column.comments}
     */
    @ApiModelProperty("${column.comments}")
#if($column.columnName == $pk.columnName)
    @TableId(type = IdType.ASSIGN_ID)
#end
    private $column.attrType $column.attrname;
#end
#end
}
